body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin: 0;
}

.nav {
  display: flex;
  align-items: center;
  padding: 0 50px;
  width: calc(100% - 100px);
  position: fixed;
  top: 0;
  background: rgba(0,0,0,0.7);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  color: #f5f5f7;
}

.nav h2 {
  font-weight: 300;
}

.page .social-links {
  display: flex;
  margin-left: auto;
}

.page .social-links a {
  display: flex;
  color: unset;
  height: 25px;
  width: 25px;
}

.page .social-links a {
  height: 20px;
  width: 20px;
  padding: 0 5px;
}

.page .social-links a svg, .page .social-links a img {
  height: 100%;
  width: 100%;
}

.header {
  height: 100vh;
  background-image: url('../assets/img/header-image.jpg');
  background-size: cover;
  background-position: center;
}

.about {
  padding: 50px;
}

.music {
  display: flex;
  flex-wrap: wrap;
}

.music .tile {
  width: calc(33.333% - 1px);
  height: 600px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #fff;
}

.stream-links {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  fill: currentColor;
  stroke: currentColor;
  display: flex;
  position: absolute;
  transition: ease-in-out all 0.3s;
  opacity: 0;
}

.tile .stream-links svg, .tile .stream-links img {
  width: 30px;
  height: 30px;
  padding: 0 5px;
  fill: currentColor;
  stroke: currentColor;
  cursor: pointer;
}

.tile .stream-links a {
  color: currentColor;
}

.tile:hover .stream-links {
  opacity: 1;
}

.tile .stream-links svg.fa-youtube {
  height: 50px;
  width: 50px;
  margin-top: -10px;
}

.music .tile.ssog {
  background-image: url('../assets/img/ssog-tile.png');
  background-position: center;
}

.music .tile.poc {
  background-image: url('../assets/img/poc-edited.jpg');
  background-position: center;
}

.music .tile.room {
  background-image: url('../assets/img/room.jpg');
  background-position: center;
}

.music .tile.higher {
  background-image: url('../assets/img/higher-ways.png');
}

.music .tile.label {
  border: 1px solid #ccc;
  height: 598px;
  margin-top: 1px;
  color: unset;
}

.footer {
  padding: 50px;
  display: flex;
}

.footer h2, .footer h3 {
  margin: 0 0 0 auto;
  display: flex;
  align-items: center;
}

.footer h2 {
  margin-left: 0;
}

.footer .email {
  margin-left: auto;
}

@media (max-width: 1200px) { 
  .music .tile {
    width: calc(50% - 1px);
  }

  .tile .stream-links {
    opacity: 1;
    justify-content: center;
    padding: 40px 0;
  }
 }

 @media (max-width: 767px) { 
  .music .tile {
    width: 100%;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer .email, .footer .social-links {
    margin: 5px 0;
  }
 }