.row.footer{
  height: 200px;
  bottom:0;
  padding: 66px 50px;
  background: rgb(58, 59, 54);
  color: #fff;
  position: absolute;
  width:100%;
  margin: 0;
  .footer-home-link{
    color: #ffffff;
    transition: all ease-in-out 300ms;
    cursor: pointer;
    &:hover{
      color: gold;
    }
  }

  h1{
    font-size: 40px;
    margin-top: 8px;
    margin-bottom: -8px;
  }
  li{
    a{
      color: #fff;
      transition: all ease-in-out 300ms;
      &:hover{
        color: gold;
      }
    }
  }

  .leshia-link{
    color: #cccccc;
    transition: all ease-in-out 300ms;
    &:hover{
      color: gold;
    }
  }
}

