.header{
  min-height: 500px;
  padding-top: 200px;
  position: relative;
  h1{
    font-size: 102px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #ffffff;
    position: absolute;
    z-index: 20;
  }

  p{
    font-size: 17px;
    color:#ffffff;
    position: absolute;
    z-index: 20;
    bottom: 145px;
    left: 30px;
  }

  img.logo{
    width:70px;
  }
  .overlay{
    position: absolute;
    height: 100%;
    width:100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.29);
    top:0;
  }
}