.page-container{
  box-shadow: 0 0 8px 2px rgba(0,0,0,.08);
}

.home-bg-blue{
  background: #628fbc;
  h3{
    color: #12456f;
  }
}

.lnt-bg-blue{
  background: -moz-linear-gradient(90deg, rgba(184,201,211,1) 0%, rgba(255,255,255,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(184,201,211,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(90deg, rgba(184,201,211,1) 0%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, rgba(184,201,211,1) 0%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, rgba(184,201,211,1) 0%, rgba(255,255,255,1) 100%); /* ie10+ */
  background: linear-gradient(0deg, rgba(184,201,211,1) 0%, rgba(255,255,255,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b8c9d3',GradientType=0 ); /* ie6-9 */

}

.vantworks-bg{
  background: -moz-linear-gradient(90deg, rgba(210,194,195,1) 0%, rgba(210,194,195,1) 51%, rgba(255,255,255,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(49%, rgba(210,194,195,1)), color-stop(100%, rgba(210,194,195,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(90deg, rgba(210,194,195,1) 0%, rgba(210,194,195,1) 51%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, rgba(210,194,195,1) 0%, rgba(210,194,195,1) 51%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, rgba(210,194,195,1) 0%, rgba(210,194,195,1) 51%, rgba(255,255,255,1) 100%); /* ie10+ */
  background: linear-gradient(0deg, rgba(210,194,195,1) 0%, rgba(210,194,195,1) 51%, rgba(255,255,255,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d2c2c3',GradientType=0 ); /* ie6-9 */
}

.leshia-bg{
  background: -moz-linear-gradient(90deg, rgba(252,227,170,1) 0%, rgba(255,255,255,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(252,227,170,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(90deg, rgba(252,227,170,1) 0%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, rgba(252,227,170,1) 0%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, rgba(252,227,170,1) 0%, rgba(255,255,255,1) 100%); /* ie10+ */
  background: linear-gradient(0deg, rgba(252,227,170,1) 0%, rgba(255,255,255,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fce3aa',GradientType=0 ); /* ie6-9 */
}

.leshia-solid-bg{
  background: #fce2a9;
}

.tvp-red-bg{
  background: -moz-linear-gradient(90deg, rgba(252,67,72,1) 0%, rgba(255,255,255,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(252,67,72,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(90deg, rgba(252,67,72,1) 0%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, rgba(252,67,72,1) 0%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, rgba(252,67,72,1) 0%, rgba(255,255,255,1) 100%); /* ie10+ */
  background: linear-gradient(0deg, rgba(252,67,72,1) 0%, rgba(255,255,255,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fc4348',GradientType=0 ); /* ie6-9 */
}