.page-container{
  box-shadow: 0 0 8px 2px rgba(0,0,0,.08);
}

.home-bg-blue{
  background: #628fbc;
  h3{
    color: #12456f;
  }
}

.lnt-bg-blue{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#207cca+-2,2989d8+-1,1e5799+0,2989d8+0,ffffff+0,b8c9d3+100 */
  background: #207cca; /* Old browsers */
  background: -moz-linear-gradient(top, #207cca -2%, #2989d8 -1%, #1e5799 0%, #2989d8 0%, #ffffff 0%, #b8c9d3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #207cca -2%,#2989d8 -1%,#1e5799 0%,#2989d8 0%,#ffffff 0%,#b8c9d3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #207cca -2%,#2989d8 -1%,#1e5799 0%,#2989d8 0%,#ffffff 0%,#b8c9d3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#b8c9d3',GradientType=0 ); /* IE6-9 */
}