.task-main-header{
  font-size: 80px;
}

.vantworks-header{
  h1,img{
    display: inline-block;
    font-family: helvetica, sans-serif;
  }
}

.vantworks-logo-grid{
  h5{
    font-size: 2.5em;
    color: #2f2f2f;
    font-weight: 400;
    font-family: helvetica, 'sans-serif';
    display: inline-block;
  }

}