//Responsive styles

@media(max-width: 1520px){
  .container{
    width:100%;
  }
}
@media(min-width: 767px){
  .bodhan-devices{
    margin-left: -23px;
  }
  .covervidz-devices{
    margin-left: -42px;
  }
  .lnt-devices{
    margin-left: 50px;
  }
}

@media(max-width: 767px){
  .nav-toggle.active {
    right: 255px;
  }
  .grid-images{
    .col-md-6,.col-md-3{
      padding: 0;
      & > div{
        margin: 0;
      }
    }
  }

  .header h1{
    font-size: 50px;
    text-align: center;
  }
}

@media(max-width: 1040px){
  .home .header{
    background-image: url(../../img/olu-header.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
