.portfolio{
  .col-md-12{
    padding: 0;
  }
}
.tile{
  height: 340px;
  padding: 0;
  overflow: hidden;
  opacity: 1;
  transition: all ease-in-out 300ms;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover{
    opacity: 1;
    .title-wrap{
      opacity: 1;
    }
  }
  .title-wrap{
    position: absolute;
    top: 0;
    z-index: 21;
    color: #444;
    padding: 20px;
    background: rgba(255, 255, 255, 0.84);;
    width: 100%;
    height: 100%;
    transition: all ease-in-out 200ms;
    text-align: center;
    opacity: 0;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  img{
    width:50%;
  }

  &.vantworks{
    background: #fdb5ac;
    img{
      margin: 0 auto;
      width:40%;
    }
  }

  &.lnt{
    background: #ffffff;
  }

  &.tvplayer{
    img{
      margin: 0 auto;
    }
  }

  &.leshia{
    background: rgba(255, 255, 0, 0.42);
    img{
      margin: 5px auto;

    }
  }
  &.covervidz{
    background: #4a2875;
    img{
      border-radius: 10px;
    }
  }
  &.tech{
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.28);
    cursor: default;
    display: block;
    text-align: center;
    padding-top: 80px;
  }
}

.leshia.grid-images .row{
  margin-top: 0;
}

.grid-images{
  .row{
    margin-top: 15px;
  }
  .image-1{
    height: 330px;
    background: url(../../img/lnt-one.jpg);
    background-size: cover;
    background-position: right;
    margin-left: -15px;
    margin-right: -15px;
  }
  .image-2{
    height: 330px;
    background: url(../../img/lnt-two.jpg);
    background-size: cover;
    background-position: center;
  }
  .image-3{
    height: 330px;
    background: url(../../img/lnt-three.jpg);
    background-size: cover;
    background-position: -62px;
    margin-left: -15px;
    margin-right: -15px;

  }
  .image-4{
    height: 330px;
    background: url(../../img/lnt-four.jpg);
    background-size: cover;
    background-position: -275px;
    margin-left: -15px;
    margin-right: -15px;
  }
  .image-5{
    height: 330px;
    background: url(../../img/lnt-five.jpg);
    background-size: cover;
    background-position: center;
  }

  .image-6{
    height: 330px;
    background: url(../../img/lnt-six.jpg);
    background-size: cover;
    background-position: -171px;
    margin-left: -15px;
    margin-right: -15px;

  }
}

