.tile{
  height: 320px;
  background: #f1f1f1;
  border: 1px solid #d2d1d1;
  padding: 0;
  overflow: hidden;
  opacity: 0.8;
  transition: all ease-in-out 300ms;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover{
    opacity: 1;
    .title-wrap{
      left:0;
    }
  }
  .title-wrap{
    position: absolute;
    top: 0;
    z-index: 21;
    color: #fff;
    height: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.68);
    left: -200px;
    width: 200px;
    transition: all ease-in-out 300ms;
    text-transform: uppercase;
  }

  img{
    width:50%;
  }

  &.vantworks{
    img{
      margin: 0 auto;
      width:40%;
    }
  }

  &.tvplayer{
    img{
      margin: 0 auto;
    }
  }

  &.leshia{
    img{
      margin: 5px auto;

    }
  }
  &.covervidz{
    img{
      border-radius: 10px;
    }
  }
}